/* Defaults */

html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 0;
}

/* Navbar */

.navbar {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, .11);
}

.navbar .navbar-brand {
    color: black;
    font-size: x-large;
    font-weight: bolder;
}

.navbar .navbar-nav li {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

a.nav-link:hover {
    color: #007bff !important;
}

.navbar .navbar-nav li.last-item {
    margin-right: 10px;
}

.navbar-brand img {
    margin-left: 5px;
    margin-right: 5px;
}

/* Home */

.col-lg-4, .col-lg-8 {
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.avatar {
    padding-top: 10%;
}

.avatar img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.title h1 {
    font-size: 32px;
    font-weight: 400;
    padding: 5% 0 1% 0;
    text-align: center;
}

.title a {
    font-size: 22px;
    display: block;
    text-align: center;
}

.social {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social a {
    color: #2962ff;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
}

.social .fa-3x:hover,
.social .ai-3x:hover {
    color: lawngreen;
}

.bio h1 {
    font-size: 40px;
    font-weight: 400;
}

.bio p {
    font-size: 20px;
    text-align: justify;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

ul.fa-ul li {
    font-size: 18px;
    padding-top: 5px;
}

ul.fa-ul li i.fa {
    padding-right: 5px;
}

div.education {
    position: relative;
    left: 15px;
}

p.degree {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

p.school {
    font-size: 18px;
    margin: 0;
}

/* Publications */

.paper {
    padding: 2%;
    background-color: #f7f7f7;
}

.paper h1 {
    font-size: 40px;
    font-weight: 400;
}

.paper-title {
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.paper-title:hover {
    color: #2962ff;
    text-decoration-color: #007bff;
}

.authors {
    color: rgba(0, 0, 0, .75);
    padding: 5px 5px 5px 0;
    margin: 5px 5px 5px 0;
}

.journal-conf-name {
    font-size: larger;
    font-weight: bold;
    padding: 5px 5px 5px 0;
    margin: 5px 5px 5px 0;
}

.pubs-buttons button {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    line-height: 1;
    color: #2962ff;
    border-color: #2962ff;
}

.pubs-buttons button:hover {
    color: white;
    background-color: #2962ff;
}

.pubs-imgs {
    display: block;
    margin: auto;
}

.pubs-imgs img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Modals */

.modal-dialog {
    width: 100%;
}

.abstract {
    padding: 2%;
    font-size: 20px;
    text-align: justify;
}

.modal-footer {
    display: block;
    margin: 0 auto;
    padding-bottom: 2%;
}

.modal-footer button {
    color: white;
    background-color: red;
    border: none;
}